body{
    color:blueviolet;
    background: bisque;
}
header{
    border-bottom: solid 2px rgb(rgb(255, 111, 0));
    padding: 20px;
    font-size: 32px;
    color: blue;
    background: chartreuse;
}
.chamada{
    background: blueviolet;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;

}
.categorias_videos{
display: flex;
overflow-x: auto;
gap: 15px;
}